
.logo {
	display: block;
	height: 200px;
	text-align: center;
}

.logo a {
	display: inline-block;
	height: 200px;
	width: 200px;
	background: url(/img/applogoblue.png) no-repeat center center;
}


.navbar-inverse .nav > li > a.google{
	position: relative;
	top: 0px;
	display: block;
	height: 10px;
	width: 10px;
	margin-right: 10px;
}

.navbar-inverse .nav > li > a.google span{
	height: 16px;
	width: 16px;
	background-image: url(/img/social.png);
	background-position: -22px -1px;
	background-repeat: no-repeat;
	color: transparent;
	margin-left: -20px;
	font-size: 15px;
}

.navbar-inverse .nav > li > a.google:hover span{
	height: 16px;
	width: 16px;
	background-image: url(/img/social.png);
	background-position: -22px -33px;
	background-repeat: no-repeat;
	color: transparent;
	opacity: 0%;
}
	
.navbar-inverse .nav > li > a.twitter{
	position: relative;
	top: 0%;
	display: block;
	height: 10px;
	width: 10px;
	padding-top: 10px;
	color: transparent;
	font-size: 15px;
	margin-right: 10px;
}	

.navbar-inverse .nav > li > a.twitter span{
	height: 10px;
	width: 10px;
	background-image: url(/img/social.png);
	background-position: -70px -1px;
	background-repeat: no-repeat;
	color: transparent;
	opacity: 0%;
	margin-left: -20px;
	padding-right: 10px;
}

.navbar-inverse .nav > li > a.twitter:hover span{
	height: 10px;
	width: 10px;
	background-image: url(/img/social.png);
	background-position: -70px -33px;
	background-repeat: no-repeat;
}

.navbar-inverse .nav > li > a.rss{
	position: relative;
	top: 0px;
	display: block;
	height: 10px;
	width: 10px;
	font-size: 15px;
	margin-right: 10px;
}

.navbar-inverse .nav > li > a.rss span{
	height: 16px;
	width: 16px;
	background-image: url(/img/social.png);
	background-position: -125px -1px;
	background-repeat: no-repeat;
	color: transparent;
	opacity: 0%;
	margin-left: -20px;
	padding-right: 10px;
}

.navbar-inverse .nav > li > a.rss:hover span{
	height: 16px;
	width: 16px;
	background-image: url(/img/social.png);
	background-position: -125px -33px;
	background-repeat: no-repeat;
	color: transparent;
}

.sidebar { 
	position: absolute; 
	width: 10%;
	height: 90%;
	z-index: 1;
	top: 0%;
} 

	
span {
	line-height: 20px;
}
		
.auto-size {
	width: auto;
}
